<div class="Index_Page">
    
    <div class="MainInfo">
        <p class="About">Fully encrypted, private, and secure Chatting service. Perfect for your needs</p>
        <div class="Open">
            {{#if loggedIn}}
                <a href="/Chat">Open</a>
            {{else}}
                <a href="/Login">Open</a>
            {{/if}}
        </div>
    </div>
    
</div>