<div class="Signup_Page">
    <div class="SignupForm">
        <h1>Signup</h1>
        <form action="/Register" method="POST">
            <label for="username">Username</label><br>
            <input autocomplete="off" class="input_box" type="text" id="username" name="username"><br><br>

            <label for="name">Real Name</label><br>
            <input autocomplete="off" class="input_box" type="text" id="name" name="name"><br><br>

            <label for="email">Email</label><br>
            <input autocomplete="off" class="input_box" type="text" id="email" name="email"><br><br>

            <label for="password">Password</label><br>
            <input autocomplete="off" class="input_box" type="password" id="password" name="password"><br><br>
            
            <input class="submit" type="submit" value="Signup">

        </form>
    </div>
</div>
